<div class="hero">
 <div class="hero__wrapper">
   <video class="hero__video" [autoplay]="true" [muted]="true"  [loop]="true">
     <source src="assets/videos/hero.mp4">
   </video>
 </div>
  <div class="hero__line">
    <div><img src="./assets/images/corvete.png" alt=""></div>
    <div><img src="./assets/images/dodge.png" alt=""></div>
    <div><img src="./assets/images/mustang.png" alt=""></div>
    <div><img src="./assets/images/srt.png" alt=""></div>
    <div><img src="./assets/images/ford.png" alt=""></div>
  </div>
</div>
