<div class="hero">
  <div class="hero__wrapper">
    <video  #videoRef preload="auto" playsinline class="hero__video" [autoplay]="true" [muted]="true" [loop]="true" >
      <source src="assets/videos/hero.mp4">
    </video>
    <div class="hero__centred">
      the art of cars in your hearts
      <div class="hero__centred_button">explore</div>
    </div>
  </div>
</div>

<div class="hero__line">
  <div><img data-aos="zoom-up" data-aos-delay="100" src="./assets/images/corvete.png" alt="corvette"></div>
  <div><img data-aos="zoom-up" data-aos-delay="200" src="./assets/images/dodge.png" alt="dodge"></div>
  <div><img data-aos="zoom-up" data-aos-delay="300" src="./assets/images/mustang.png" alt="mustang"></div>
  <div><img data-aos="zoom-up" data-aos-delay="400" src="./assets/images/srt.png" alt="srt"></div>
  <div><img data-aos="zoom-up" data-aos-delay="500" src="./assets/images/ford.png" alt="ford"></div>
</div>
