<nav class='nav'>
  <div class='container'>

    <div routerLink="/main"  class='nav__logo'>
      <img src='./assets/images/logo.png' alt=''>
    </div>

    <div class='nav__links'>
      <ul>

        <li routerLink='/main'>
          <img ngSrc='./assets/images/home.svg' alt='home' height="24" width="24">Home
        </li>

        <li routerLink='/catalog'>
          <img ngSrc='./assets/images/catalog.svg' alt='catalog' height="24" width="24">Catalog
        </li>


        <li *ngIf='!isTokenAvailable' routerLink='/auth/login'>
          <img ngSrc='./assets/images/login.svg' alt='' height="24" width="24">
          Signin
        </li>

        <li *ngIf='!isTokenAvailable' routerLink='/auth/register'>
          <img ngSrc='./assets/images/register.svg' alt='' height="24" width="24">
          Signup
        </li>

        <li *ngIf='isTokenAvailable' (click)='logout()'>
          <img ngSrc='./assets/images/logout.svg' alt='' height="24" width="24">
          Logout
        </li>

        <li routerLink='/checkout'><img ngSrc='./assets/images/checkout.svg' alt='' height="24" width="24">
          Basket
        </li>

        <li *ngIf='isTokenAvailable' routerLink='/account'>
          <img ngSrc='./assets/images/profile.svg' alt='' height="24" width="24">
        </li>

      </ul>
    </div>

    <div (click)='makeOppositeBurgerContentVisibility()' class='burger'>
      <div></div>
      <div></div>
      <div></div>
    </div>

    <div data-aos='fade-up' *ngIf='isBurgerVisible' class='burger__content'>

      <ul class='burger__content'>

        <li (click)='makeOppositeBurgerContentVisibility()' routerLink='/main'>
          <img ngSrc='./assets/images/home.svg' alt='home' height="24" width="24">Home
        </li>

        <li (click)='makeOppositeBurgerContentVisibility()' routerLink='/catalog'>
          <img ngSrc='./assets/images/catalog.svg' alt='catalog' height="24" width="24">Catalog
        </li>


        <li (click)='makeOppositeBurgerContentVisibility()' routerLink='/checkout'>
          <img ngSrc='./assets/images/checkout.svg' alt='checkout' height="24" width="24">Basket
        </li>

        <li (click)='makeOppositeBurgerContentVisibility()' *ngIf='isTokenAvailable'  routerLink='/account'>
          <img ngSrc='./assets/images/profile.svg' alt='profile' height="24" width="24">Profile
        </li>

        <li (click)='makeOppositeBurgerContentVisibility()'  *ngIf='!isTokenAvailable' routerLink='/auth/login'>
          <img ngSrc='./assets/images/login.svg' alt='' height="24" width="24">
          Login
        </li>

        <li (click)='makeOppositeBurgerContentVisibility()' *ngIf='!isTokenAvailable' routerLink='/auth/register'>
          <img ngSrc='./assets/images/register.svg' alt='' height="24" width="24">
          Register
        </li>

        <li (click)='makeOppositeBurgerContentVisibility()' *ngIf='isTokenAvailable' routerLink='/auth/register'>
          <img ngSrc='./assets/images/logout.svg' alt='' height="24" width="24">
          Logout
        </li>

        <div class='burger__content_exit exit'>

          <img width='150' ngSrc='./assets/images/logo.png' alt='' height="150">

          <div (click)='makeOppositeBurgerContentVisibility()' class='exit__button'>

            <img width='40' ngSrc='./assets/images/cancel.svg' alt='' height="40">
          </div>

        </div>

      </ul>

    </div>

  </div>

</nav>
