<span data-aos='zoom-up' class='form__error' *ngIf='hasServerError'>
    {{serverErrorMessage}}
  </span>

<div class='register'>
  <form [formGroup]='form' class='form'>
    <span class='text-3xl uppercase'>Register</span>

    <div class='flex gap-5'>
      <input placeholder='Enter username' minlength='8' maxlength='30' formControlName='username' type='text'>
      <button *ngIf='isHintVisible' (click)='usernameHintModal.showModal()'>hint</button>
    </div>

    <div class='flex gap-5'>
      <input placeholder='Enter email' minlength='8' maxlength='30' formControlName='email' type='email'>
      <button *ngIf='isHintVisible' (click)='emailHintModal.showModal()'>hint</button>
    </div>


    <div class='flex gap-5'>
      <input placeholder='Enter age' min=18 max='100' formControlName='age' type='number'>
      <button *ngIf='isHintVisible' (click)='ageHintModal.showModal()'>hint</button>
    </div>

    <div class='flex gap-5'>
      <select formControlName='gender'>
        <option disabled [selected]='true' >Choose Gender</option>
        <option value='Male'>Male</option>
        <option value='Female'>Female</option>
        <option value='Bober'>Bober</option>
        <option value='RTX 4090'>RTX 4090</option>
        <option value='Non-binary'>Non-binary</option>
      </select>
      <button *ngIf='isHintVisible' (click)='genderHintModal.showModal()'>hint</button>
    </div>

    <div class='flex gap-5'>
      <input placeholder='Enter password' minlength='8' maxlength='30' formControlName='password' type='password'>
      <button *ngIf='isHintVisible' (click)='passwordHintModal.showModal()'>hint</button>
    </div>

    <progress data-aos='zoom-up' *ngIf='form.get("password")?.untouched && form.get("password")?.invalid'
              class='progress  left-0' value='0' max='100'></progress>
    <progress data-aos='zoom-up' *ngIf='form.get("password")?.touched && form.get("password")?.invalid'
              class='progress left-0  progress-error' value='100' max='100'></progress>
    <progress data-aos='zoom-up' *ngIf='form.get("password")?.valid' class='progress left-0 progress-success'
              value='100'
              max='100'></progress>

    <div class='form__buttons'>
      <button (click)='register(redirectModal)' class='form__buttons_register'> Register</button>
      <button class='form__buttons_login' routerLink='/auth/login'> have an account?</button>
    </div>


  </form>
  <div class='json'>

  <pre>
    user: {{form.getRawValue() | json}}
  </pre>

  </div>

</div>


<dialog #passwordHintModal class='modal'>
  <div class='modal-box bg-white text-black'>
    <form method='dialog'>
      <button class='btn btn-sm btn-circle btn-ghost absolute right-2 top-2'>✕</button>
    </form>
    <h3 class='font-bold text-lg'>Password</h3>
    <p class='py-4'>Password must have at least 8 characters</p>
  </div>
</dialog>

<dialog #usernameHintModal class='modal'>
  <div class='modal-box bg-white text-black'>
    <form method='dialog'>
      <button class='btn btn-sm btn-circle btn-ghost absolute right-2 top-2'>✕</button>
    </form>
    <h3 class='font-bold text-lg'>Username</h3>
    <p class='py-4'>Username must have at least 8 characters</p>
  </div>
</dialog>

<dialog #ageHintModal class='modal'>
  <div class='modal-box bg-white text-black'>
    <form method='dialog'>
      <button class='btn btn-sm btn-circle btn-ghost absolute right-2 top-2'>✕</button>
    </form>
    <h3 class='font-bold text-lg'>Age</h3>
    <p class='py-4'>Enter age from 18!</p>
  </div>
</dialog>

<dialog #emailHintModal class='modal'>
  <div class='modal-box bg-white text-black'>
    <form method='dialog'>
      <button class='btn btn-sm btn-circle btn-ghost absolute right-2 top-2'>✕</button>
    </form>
    <h3 class='font-bold text-lg'>Email</h3>
    <p class='py-4'>Write valid email</p>
  </div>
</dialog>

<dialog #genderHintModal class='modal'>
  <div class='modal-box bg-white text-black'>
    <form method='dialog'>
      <button class='btn btn-sm btn-circle btn-ghost absolute right-2 top-2'>✕</button>
    </form>
    <h3 class='font-bold text-lg'>Gender</h3>
    <p class='py-4'>Choose gender!</p>
  </div>
</dialog>

<dialog #redirectModal class='modal '>
  <div class='modal-box flex flex-col justify-center items-center gap-10 bg-white text-black h-96'>
    <form method='dialog'>
      <button class='btn btn-sm btn-circle btn-ghost absolute right-2 top-2'>✕</button>
    </form>
    <h3 class='font-bold text-lg'>Redirect to Login page</h3>
    <p class='py-4'> {{countToRedirect}}</p>
    <progress class="progress w-56" value="{{countToRedirect}}" max="3"></progress>
  </div>
</dialog>
