.trending {
  width: 100%;
  overflow-x: hidden;
  min-height: 100vh;

  &__screen {
    width: 100%;
    min-height: 100vh;
    overflow: hidden;
    display: flex;
    background-color: black;

    &_video {
      background-color: black;
      width: 50%;
      min-height: 100vh;

      video {
        width: auto;
        min-height: 100vh;
        object-fit: cover;
      }
    }

    &_description {
      width: 50%;
      background-color: black;
      min-height: 100vh;
    }

    @media(max-width: 968px) {
      & {
        width: 100%;
        flex-direction: column;

        &_video {
          width: 100%;
          min-height: 100vh;

          video {
            width: auto;
            min-height: 100vh;
            object-fit: cover;
          }
        }

        &_description {
          width: 100%;
          background-color: black;
          min-height: 100vh;
        }
      }
    }
  }

  &__list {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    height: 100vh;
    gap: 0;

    &_item {
      object-fit: cover;
      background-repeat: no-repeat;

      text-align: center;
      width: 100%;
      height: 100%;
      display: flex;
      font-family: "Arial Black";
      justify-content: center;
      flex-direction: column;
      align-items: center;
      outline: 1px solid #424242;
      transition-duration: 200ms;
      overflow: hidden;

      &:hover {
        overflow: hidden;
        transition-duration: 200ms;
        color: #ffffff;
        cursor: pointer;

      }

      h2 {
        font-size: 3em;
        font-weight: bolder;
      }
    }

    @media(max-width: 1378px) {
      & {
        grid-template-columns: 1fr 1fr;
        height: 100%;

        &_item {
          max-width: 100%;
          width: 100%;
          max-height: 300px;
          height: 300px;
        }
      }
    }
    @media(max-width: 1024px) {
      & {
        grid-template-columns: 1fr;
        height: 100%;

        &_item {
          max-width: 100%;
          width: 100%;
          max-height: 300px;
          height: 300px;
        }
      }
    }
  }

  &__separator {
    font-size: 2em;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 150px;
    text-align: center;
    font-family: "Arial Black", serif;
    background-color: black;

    p {
      background: rgb(66, 0, 0);
      background: -moz-linear-gradient(270deg, rgba(66, 0, 0, 1) 0%, rgba(46, 45, 116, 1) 50%, rgba(125, 88, 0, 1) 100%);
      background: -webkit-linear-gradient(270deg, rgba(66, 0, 0, 1) 0%, rgba(46, 45, 116, 1) 50%, rgba(125, 88, 0, 1) 100%);
      background: linear-gradient(270deg, rgba(66, 0, 0, 1) 0%, rgba(46, 45, 116, 1) 50%, rgba(125, 88, 0, 1) 100%);
      filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#420000", endColorstr="#7d5800", GradientType=1);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
  }
}

.diff__wrapper {
  height: 100vh;
  overflow: hidden;
  position: relative;

  &_text {
    position: fixed;
    z-index: 1000;
    font-size: 100px;
    top: 200px;
    left: 0;
    text-align: center;
    width: 100%;
    color: white;
  }
}

.description {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  &__heading {
    margin-top: 150px;
    text-align: center;
    font-size: 2em;
  }

  &__content {
    padding: 10px;
    text-align: left;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    font-size: 0.8em;

    p:nth-child(1) {
      text-align: right;
      max-width: 30%;
    }

    p:nth-child(2) {
      text-align: center;
      max-width: 30%;
    }

    p:nth-child(3) {
      text-align: left;
      max-width: 30%;
    }
  }

  &__buttons {

    padding: 10px;
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    gap: 10px;

    &_button {
      font-size: 0.8em;
      width: 35%;
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 10px;
      outline: 1px solid white;
      transition-duration: 300ms;

      &:hover {
        transition-duration: 300ms;
        background-color: white;
        color: black;
        cursor: pointer;
      }
    }
  }
}

.list_item1 {
  background-image: url("../../../../../assets/images/camarobackground.jpg");
  background-size: cover;
  background-position: center;
}

.list_item2 {
  background-image: url("../../../../../assets/images/corvettebackground.jpg");
  background-size: cover;
  background-position: center;
}

.list_item3 {
  background-image: url("../../../../../assets/images/dodgebackground.jpg");
  background-size: cover;
  background-position: center;
}

.list_item4 {
  background-image: url("../../../../../assets/images/mustangbackground.jpg");
  background-size: cover;
  background-position: center;

}
