<main class="trending">

  <!-- daisy ui diff -->
  <div class="trending__screen ">

    <div class="diff aspect-[16/9] diff__wrapper"><span data-aos="fade-down" class="diff__wrapper_text ">Muscle cars</span>
      <div class="diff-item-1">
        <img src="./assets/images/diff-corvette.jpg" alt="">
      </div>
      <div class="diff-item-2">
        <img src="./assets/images/diff-dodge.jpg" alt="">
      </div>
      <div class="diff-resizer"></div>
    </div>
  </div>
  <!-- daisy ui diff -->
  <div class="trending__separator">
    Our bestsellers
  </div>
  <div class="trending__screen">
    <div class="trending__list">
      <div data-aos-delay="200" data-aos="fade-up" class="trending__list_item">
        <img loading="lazy" src="./assets/images/models/chevy.png" alt="">
        <h2>Chevrolet camaro</h2>
      </div>
      <div data-aos-delay="500" data-aos="fade-up" class="trending__list_item">
        <img loading="lazy" src="./assets/images/models/corvette.png" alt="">
        <h2>Chevrolet corvette</h2>
      </div>
      <div data-aos-delay="700" data-aos="fade-up" class="trending__list_item">
        <img loading="lazy" src="./assets/images/models/dodge.png" alt="">
        <h2>Dodge Challenger</h2>
      </div>
      <div data-aos-delay="1000" data-aos="fade-up" class="trending__list_item">
        <img loading="lazy" src="./assets/images/models/mustang.png" alt="">
        <h2>Ford mustang</h2>
      </div>
    </div>
  </div>
</main>
